@media (min-width: 1200px) {
  .navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.showcase-area {
   height: 70vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
    url("https://i.postimg.cc/wT3TQS3V/header-image2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  text-align: center;
}
.showcase-area h1 {
  color: #333;
  margin-bottom: 1rem;
}

.about-title {
  font-size: 5rem;
  font-weight: 90;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  white-space: nowrap;
  font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
  background: linear-gradient(270deg, #cb041b 35%, #ffffff00 76%);
  /*background: linear-gradient(to bottom, rgb(8 42 123 / 35%) 30%, rgb(255 255 255 / 0%) 76%);*/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientShift 6s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  .carousel-track {
    transform: scaleX(1.5);
  }
/* 🧩 Carte individuelle */
.card {
  position: absolute;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
  }