@media (max-width: 767px) {
  header h1 {
    font-size: 0.5rem;
  }
  

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 3;
      transform: translateY(0);
    }
  }

  .showcase-container {
    animation: fadeInUp 1.2s ease-out forwards;
  }
}
