@media (min-width: 768px) and (max-width: 1199px) {
  /* Styles pour tablettes portrait et paysage */

  .showcase-area {
    height: 80vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)),
      url("https://img.freepik.com/photos-gratuite/personne-au-bureau-pendant-journee-travail_23-2150690165.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    text-align: center;
  }

  .showcase-area h1 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .showcase-area p {
    font-size: 1.5rem;
    color: rgb(10, 15, 171);
    line-height: 1.5;
    text-align: center;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 3;
      transform: translateY(0);
    }
  }

  .showcase-container {
    animation: fadeInUp 1.2s ease-out forwards;
  }

}