/* ========== Base Reset ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

header, footer {
  background: #004466;
  padding: 1rem;
  color: #ffffff;
}

main {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

a:-webkit-any-link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}

/* ========== Typography ========== */
h1, h2 {
  color: rgb(92, 81, 128);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration-line: underline;
}
.hero h1, .hero h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  text-decoration-line: none;
}
.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(31, 11, 245);
}
.project-details {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
}

.project-details p {
  padding: 10px 0;
  border-left: 1px solid #9b7979;
  border-bottom: 1px solid #9b7979;
   border-top: 1px solid #9b7979;
  border-right: 1px solid #9b7979;
}


/* ========== Logo & Branding ========== */
.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-title img {
  width: 24px;
  height: 48px;
  object-fit: contain;
}

.logo-title span {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

/* ========== Navigation ========== */
nav {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu {
  font-size: 0.3rem;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  display: block;
  border: none;
  z-index: 10;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation {
  display: none;
  flex-direction: column;
  text-align: center;
}

.navigation.open {
  display: flex;
}

.navigation a {
  text-decoration: none;
  padding: 0.1rem 1rem;
  color: white;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

.navigation a.active {
  background-color: #0078D7;
  color: #fff;
  text-decoration: underline;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding:  0.1rem 1rem;
}

.navigation a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: bold;
  padding: 0.1rem 1rem;
}

.hero{
      background-image: url('../images/image-hero.webp');
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(245, 244, 252);
      text-shadow: 0px 2px 6px rgba(169, 154, 154, 0.7);
      text-align: center;
      padding: 20px;
    }
   .cta-button {
        padding: 15px 30px;
        font-size: 1.2rem;
        background-color: #865242;
        color: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: auto;
}
    .cta-button:hover {
      background-color: #446ce4;
    }

.visit-message {
  padding: 1em;
  border-left: 4px solid #0611ed;
  font-size: 1rem;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color:rgb(0 90 161);
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: capitalize;
}

strong, a, span {
  font-size: 1em;
}
.card img {
  max-width: 100%;
  box-shadow: 0 0 3rem #555;
}

/* form */
form {
  max-width: 400px;
  background-color: #b5c6b9;
  padding: 20px;
  margin: 10px;

}

legend, label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 1rem;

}

input[type="text"],
textarea,
select {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.large-input {
   width: 50%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}


button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #e4eaef;
  color:rgb(18, 16, 16);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 13px;
}

button:hover {
  background-color: #24522e;
}
.dots::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}




/* ========== Footer ========== */


.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 1.5em;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}