@media (min-width: 1025px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navigation a {
    padding: 1rem 3rem;
    border-right: 1px solid #777;
  }

  .navigation a:last-child {
    border-right: none;
  }

  #menu {
    display: none;
  }


  .testimonial-card {
       background-color: #f9f9f9;
       border: 1px solid #ddd;
       border-radius: 8px;
       margin: 1rem;
    
       display: grid;
       grid-template-areas:
      "image"
      "name"
      "service"
      "quote"
      "location";
  
  }
  .testimonial-card img {
    width: 30%;
    height: 40%;
    object-fit: cover;
    grid-area: image;
  }
  .testimonial-card h3 {
    font-size: 15px;
    margin: 1em 10px;
    grid-area: name;
  }
  .testimonial-card p {
    font-size: 14px;
    margin: 0.5em 10px;
    grid-area: quote;
  }



  .footer-content {
    flex-direction: column;
    justify-content: space-between;
  }
}