@media (max-width: 640px) {
  body {
    font-size: 0.8rem;
    padding: 5px;
  }

  #menu {
    font-size: 3rem;
    top: 0.7rem;
    right: 0.7rem;
    border: 1px solid black;
  }


  .testimonial-card {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: grid;
    overflow: hidden;
    grid-template-areas:
      "image"
      "name"
      "location"
      "service"
      "quote";
  }
  .testimonial-card h3 {
    grid-area: name;
    font-size: 1em;
    margin: 1em 10px;
    color: red;
  }
   .testimonial-card p {
    font-size: 1em;
    margin: 1em 10px;
  }
   .testimonial-card img {
    width: 100%;
    grid-area: image;
  }

 
}