header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  background-color: #f8f9fa;
  padding: 20px;
}
.profile {
      position: relative;
      padding: 30px;

    }
    .profile  img {
      width: 100px;
      height: auto;
    }
    profile p {
      max-width: 200px;
    }

.profile,
.about,
.services,
.contact {
  padding: 30px;
  border: #007bff 2px solid;
  border-radius: 30px;
  margin: 20px 0;
  background-color: #ffffff;
}
.about,
.services,
.contact {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}

.hidden {
  display: none;
}
.hidden.show {
  display: block;
}
.current {
  display: flex;
  justify-content: start;
  gap: 5rem;
  list-style: none;
}
.current a {
  text-decoration: none;
}
header img {
  width: 20px;
  height: auto;
  display: block;
  /* Optional enhancements */
  margin-right: 1rem;
  
}
/* For small screens (mobile) */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

/* For medium and large screens */
@media (min-width: 701px) {
  .container {
    flex-direction: row;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
main {
  padding: 20px;
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e108ae;
  text-align: center;
}
footer {
  background-color: #f8f9fa;
  padding: 60px;
  text-align: center;
  font-size: 1.79rem;
  color: #6c757d;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1) /* Optional shadow for footer */;
}
footer p {
  margin: 5px 0;
}
footer a {
  color: #007bff;
  text-decoration: none;
}
a {
  color: #007bff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #0056b3;

}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
.last-modified {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #6c757d;
  text-align: center;
  border-top: #007bff 1px solid;
}